name: Test actions/sync

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/python_install
      - uses: ./.github/actions/sync
      - uses: ./.github/actions/pip_freeze

  with__tool_install:
    needs: default
    name: w/ tool_install
    runs-on: ubuntu-latest
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/tool_install
      - uses: ./.github/actions/python_install
      - uses: ./.github/actions/sync
      - uses: ./.github/actions/pip_freeze

  pyproject__matrix:
    needs: default
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        project:
          - agent-framework-sampler-py
          - ai-evaluator-py
          - azure-foundry-ai-evaluator-py

    name: ${{ matrix.project }}/pyproject.toml
    env:
      WORKING_DIRECTORY: assets/uv/${{ matrix.project }}
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/python_install
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}

      - uses: ./.github/actions/sync
        with:
          working-directory: ${{ env.WORKING_DIRECTORY }}

      - uses: ./.github/actions/pip_freeze
