name: Test actions w/ pip(x)

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main

      # Installs pip
      - uses: percebus/github-actions-python/.github/actions/setup@main

      # Installs pipx from requirements.upgrade.txt
      - uses: percebus/github-actions-pip/.github/actions/install-upgrade@main

      # Installs uv from requirements.pipx.txt
      - uses: percebus/github-actions-pipx/.github/actions/install@main

      # Installs uv tools from requirements.uv.tool.txt
      - uses: ./.github/actions/tool_install

      # uv sync from pyproject.toml
      - uses: ./.github/actions/sync

      - uses: ./.github/actions/pip_freeze

      - name: "uvx pyclean --version"
        run: uvx pyclean --version

  python__matrix:
    needs: default
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        uv-version:
          - "0.6.x"
          - "0.7.x"
          - "0.8.x"

    name: uv @ ${{ matrix.uv-version }}
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
      - uses: percebus/github-actions-python/.github/actions/setup@main
      - uses: percebus/github-actions-pip/.github/actions/install-upgrade@main
      - uses: percebus/github-actions-pipx/.github/actions/install@main
        with:
          requirements-file: assets/pipx/${{ matrix.uv-version }}/requirements.pipx.txt

      - uses: ./.github/actions/tool_install
      - uses: ./.github/actions/sync
      - uses: ./.github/actions/pip_freeze

      - name: "uvx pyclean --version"
        run: uvx pyclean  --version
