name: Test actions/tool_install

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/python_install

      # installs tools like pyclean
      - uses: ./.github/actions/tool_install

      - uses: ./.github/actions/pip_freeze

      - name: "--version"
        run: uvx pyclean  --version

  # Override .python-version(s) with python_install
  uv_python__matrix:
    needs: default
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        python-version:
          - "3.12.x"
          - "3.13.x"
          - "3.x"

    name: uv python @ ${{ matrix.python-version }}
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main

      - uses: ./.github/actions/setup
      - uses: ./.github/actions/python_install
        with:
          working-directory: assets/uv_python/${{ matrix.python-version }}

      - uses: ./.github/actions/tool_install
      - uses: ./.github/actions/pip_freeze

      - name: which pyclean
        run: which pyclean

      - name: uvx pyclean --version
        run: uvx pyclean  --version

  # Override .python-version(s) with github-actions-python/.../setup
  python__matrix:
    needs: default
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    name: python @ ${{ matrix.python-version }}
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main

      - uses: percebus/github-actions-python/.github/actions/setup@main
        with:
          python-version: ${{ matrix.python-version }}

      - uses: ./.github/actions/setup
      - uses: ./.github/actions/tool_install
      - uses: ./.github/actions/pip_freeze

      - name: which pyclean
        run: which pyclean

      - name: uvx pyclean --version
        run: uvx pyclean  --version

  uv__matrix:
    needs: default
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        uv-version:
          - "0.5.31"
          - "0.6.9"

    name: uv @ ${{ matrix.uv-version }}
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main

      - uses: ./.github/actions/setup
        with:
          version: ${{ matrix.uv-version }}

      - uses: ./.github/actions/tool_install
      - uses: ./.github/actions/python_install
      - uses: ./.github/actions/pip_freeze

      - name: which pyclean
        run: which pyclean

      - name: "uvx pyclean --version"
        run: uvx pyclean  --version

  uv_tool__matrix:
    needs: default
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        uv-tool:
          - pyclean
          - pypyr

    name: "uv tool install: ${{ matrix.uv-tool }}"
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/python_install

      - uses: ./.github/actions/tool_install
        with:
          requirements-file: ./assets/uv_tool/${{ matrix.uv-tool }}/requirements.uv.tool.txt

      - uses: ./.github/actions/pip_freeze

      - name: "which ${{ matrix.uv-tool }}"
        run: which ${{ matrix.uv-tool }}

      - name: "uv tool run ${{ matrix.uv-tool }} --version"
        run: uv tool run ${{ matrix.uv-tool }} --version

      - name: "uvx ${{ matrix.uv-tool }} --version"
        run: uvx ${{ matrix.uv-tool }} --version
